---
import Layout from "../layouts/Layout.astro";
import GameBoard from "../components/GameBoard.astro";
---

<Layout title="Mastermind Battle Online - Tablero Público">

  <section>
    <GameBoard/>
  </section>
</Layout>
